
body {
    margin: 0;
    padding: 0;
}

.parallax-container {
    height: 600px;
    width: 3000px;
    border: 10px solid saddlebrown;
    position: relative;
    background-color: lightblue;
    background-position: top center;
    background-size: auto auto;
    background-attachment: fixed
}

.grass {
    position: absolute;
    top: 450px;
    left: 0;

    background-color: green;
    
    height: 150px;
    width: 3000px;
}

.box {
    position: absolute;
    top: 350px;
    left: 200px;
    
    height: 100px;
    width: 100px;
    background-color: red;
}

.small-box {
    position: absolute;
    top: 300px;
    left: 650px;
    
    height: 150px;
    width: 50px;
    background-color: yellow;
}

.blue-box {
    position: absolute;
    top: 300px;
    left: 2050px;
    
    height: 150px;
    width: 50px;
    background-color: blue;
}

.building {
    position: absolute;
    top: 150px;
    left: 1650px;

    background-color: lightslategrey;
    height: 300px;
    width: 150px;
}

.mountain {
    height: 0px;
    width: 0px;

    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  
    border-bottom: 400px solid darkslategrey;
}

.mountain-1 {
    position: absolute;
    top: 50px;
    left: 400px;
}

.mountain-2 {
    position: absolute;
    top: 50px;
    left: 900px;
}

.mountain-3 {
    position: absolute;
    top: 50px;
    left: 1500px;
}

.tower {
    position: absolute;
    top: 20px;
    left: 1100px;

    background-color: lightslategrey;
    height: 430px;
    width: 150px;
}